:root {
    /* reality styles */
    --color-primary: #5F3A1C;
    --color-secondary: #7ED321;
    --color-accent: #B57204;
    --color-highlight: #B8E986;
    --color-btns: #ff6b3d;
    --color-btns-text: #160075;
    --color-btns-hover: #B17614;
    --color-btns-highlight: #F5B64E;
    --color-info: #0f3c71;
    --color-info-text: #f9c776;
    --color-node-inactive: var(--color-primary);
    --color-node-active: var(--color-accent);
    /* glitched reality styles */
    --color-primary-g: #000000;
    --color-secondary-g: #D0021B;
    --color-accent-g: #C9C9C9;
    --color-highlight-g: #043874;
    --color-glitched-aurora-primary: #CC00FF;
    --color-glitched-aurora-secondary: #00CCFF;
    --color-glitched-aurora-tertiary: #990066;
    --color-glitched-aurora-highlights: #CCFF66;
    --color-glitched-aurora-highlights-secondary: #660033;
    --color-glitched-aurora-highlights-tertiary: #33FF00;
    --color-glitched-aurora-shadows: #330000;

}

body {
	margin:0px;
	padding:0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.body_balanced {
    background-color: var(--color-accent);
}
.body_disordered {
    background-color: var(--color-accent-g);
    box-shadow: inset;
}

#gameplay_region {
    height: 1000px;
}
#controller_region {
    border-radius: 25px 0 0 25px;
    height: 750px;
}
.controller_balanced {
    background-color: var(--color-secondary);
}
.controller_disordered {
    background-color: var(--color-primary-g);
    box-shadow: inset -145px -125px 135px var(--color-glitched-aurora-primary), inset 25px 50px 69px var(--color-glitched-aurora-secondary);
}
#feedback_region {
    border-radius: 0 25px 25px 0;
    height: 750px;
}
.feedback_balanced {
    background-color: var(--color-primary);
}
.feedback_disordered {
    background-color: var(--color-secondary-g);
    box-shadow: inset -150px 200px 169px var(--color-glitched-aurora-shadows), inset 142px 300px 100px var(--color-glitched-aurora-highlights);
}

.btn_submit {
    width: 80%;
    background-color: var(--color-btns);
    color: var(--color-btns-text);
    box-shadow: 0 0 25px var(--color-btns-highlight);
}
.btn_submit:hover {
    background-color: var(--color-btns-hover);
    color: var(--color-highlight);
}
.btn_submit:active {
    background-color: var(--color-btns-hover);
}

.logo {
    display: inline;
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    color: var(--color-secondary);
}
.logo_icon {
    height: 50px;
    width: 50px;
}
.input_region {
    padding: 10px;
    border-radius: 40px;
    border-style:groove;
    border-color: var(--color-secondary-g);
    width: 100%;
    color: var(--color-accent-g);
    caret-color: var(--color-glitched-aurora-tertiary);
    background-color: var(--color-primary-g);
    box-shadow: 15px 15px 15px var(--color-glitched-aurora-shadows);
}

.node {
    border-radius: 50%;
    height: 60px;
    width: 60px;

}
.node_inactive {
    border-style: none;
    box-shadow: inset -5px 0 15px var(--color-glitched-aurora-primary), inset 5px 0 15px var(--color-glitched-aurora-secondary), inset 0 15px 25px var(--color-glitched-aurora-tertiary), inset 0 -15px 25px var(--color-glitched-aurora-highlights);
    background-color: var(--color-node-inactive);
}
.node_empty {
    background-color: var(--color-primary);
}
.node_active {
    background-color: var(--color-node-active);
}
.node img {
    border-radius: 50%;
}
.node_inactive img {
    display: none;
}
.focused_node {
    box-shadow: 0 0 15px var(--color-highlight);
}
.node_base {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.page-header {
    background-color: var(--color-primary);
}

